<h1>Listing photos</h1>

<div class="photo">
  <% if @photos %>
    <%= render @photos %>
  <% end %>
</div>


<br />

<%= direct_upload_form_for @uploader do |f| %>
  <p><%= f.file_field :image %></p>
  <p><%= f.submit "Upload Image" %></p>
<% end %>
